absl-py
numpy
# TensorFlow
tensorflow==2.7.0
tensorflow_probability==0.15.0
# JAX
-f https://storage.googleapis.com/jax-releases/jax_releases.html
jax[cuda111]==0.2.21
# DeepMind JAX eco-system
bsuite
chex
optax
rlax
dm-haiku
dm-reverb==0.6.1
dm-launchpad==0.3.2
dm-acme @ git+https://github.com/deepmind/acme@0.2.3
dm-tree
ml_collections
# Logging
wandb
# Environments
gym
PyYAML
